<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WedstrijdConnectionString" connectionString="Server=localhost;Database=Wedstrijd;Trusted_Connection=True;TrustServerCertificate=true" providerName="Microsoft.Data.SqlClient" />
		<add name="WedstrijdConnectionString2" connectionString="Server=localhost\MSSQLSERVER01;Database=Wedstrijd;MultipleActiveResultSets=true;Integrated Security=True;TrustServerCertificate=true" providerName="Microsoft.Data.SqlClient" />
		<add name="WedstrijdConnectionString3" connectionString="Server=(localdb)\MSSQLlocalDB;Database=Wedstrijd;MultipleActiveResultSets=true;Integrated Security=True;TrustServerCertificate=true" providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>