<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WedstrijdConnectionString" connectionString="Server=localhost\MSSQLSERVER01;Database=Wedstrijden;Trusted_Connection=true;MultipleActiveResultSets=true;Integrated Security=True;TrustServerCertificate=true" providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>